<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <label for="username"><input name="username" id="username" required autofocus/></label>
    <label for="password"><input name="password" id="password" required/></label>
    <label for="submit"><input type="submit" id="submit"/></label>
</form>
</body>
</html>